<header class="navbar navbar-expand-sm">
  <a style="cursor: pointer;" class="navbar-brand mr-0" href="/">
    <img style="height:20px;" class="logo" alt="GAVL logo" src="/images/logo.png" />
  </a>
  <div class="navbar-nav flex-row">
    <a class="nav-item nav-link ml-2 ml-md-0 mr-2" href="/account/login">Log in</a>
  </div>
</header>
